.navbar {
  background-color: rgb(13, 16, 20);
  align-items: center;
  justify-content:space-evenly;
  display: flex;
}
.navbar__text {
  color: #fff;
  background-color: rgb(13, 16, 20);
  text-decoration: none;
  cursor: pointer;
}
.navbar__place {
  background-color: rgb(54, 63, 75);
  color: #ccc;
}
.navbar__input {
  padding: 0.5 rem 1 rem;
}

